<%- include ('layout/head.ejs'); %>
<%- include ('layout/header.ejs'); %>
  
<main class="container p-4">
  <div class="title d-flex align-items-center">
    <h3>Ask me Anything!</h3>
    <a href="/new-question" class="ml-2 p-1 px-2 border border-primary rounded-sm"><span class="">+</span> Add question</a>
  </div>
  
  
  <div class="card p-3 my-3">
    <div class="card-title">
      <h4><%= question.title %></h4>
    </div>
    <div class="card-body">
      <p><%= question.question %></p>
    </div>
    <div class="card-footer">
      <h5 class="mb-2">Answers</h5>
      <form action="/post-answer" method="post">
        <textarea 
        class="form-control" 
        name="answer"
        placeholder="Reply"
      ></textarea>
      <button type="submit" class="btn btn-primary mt-2 float-right">Submit</button>
      <input type="hidden" name="questionID" value="<%= question.id %>">
      </form>
    </div>
    <div class="answers pt-3">
      <% answers.forEach( function(answer) { %>
        <div class="d-flex justify-content-between mx-1">
          <span> <%= answer.answer %></span>
          <span><%= new Date(answer.updatedAt).toLocaleDateString() %></span>
        </div>
        <hr>
      <% }) %>
    </div> 
  </div>

</main>

<%- include ('layout/footer.ejs'); %>